name: Build Android APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build APK
      uses: ArtemSBulgakov/buildozer-action@v1
    - name: Upload APK
      uses: actions/upload-artifact@v2
      with:
        name: fishing-game-apk
        path: bin/*.apk
